<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Error - Movieflix</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Google fonts    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="movie">
    <h1><img src="/static/images/logo.png" alt="logo"></h1>
    <h1>Movieflix</h1>
    <a href="/">Home</a>
    <div class="error">
        <h2>Server error, it's really not your fault, on us!</h2>
    </div>
</div>
</body>
</html>