<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie - Movieflix</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Google fonts    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="movie">
        <header>
            <h1><img src="/static/images/logo.png" alt="logo"></h1>
            <h1>Movieflix</h1>
            <h2>{{ user.name }}'s Favourite Movies</h2>
            <a href="/">Home</a> |
            <a href="/users">Users</a> |
            <a href="/users/{{ user.id }}">Movies</a>
            <br>
            <br>
        </header>
        <main>
            <h3>Add Movie</h3>
            <form action="{{ url_for('movies.add_movie', user_id=user.id) }}" method="POST">
                <table>
                    <tr>
                        <td>Movie Name:</td>
                        <td><input type="text" name="movie_name" id="movie_name"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="submit_button" value="Add Movie"></td>
                    </tr>
                </table>
            </form>
        </main>
        <footer class="error">
            <br>
            {% if error_messages %}
                {% for error in error_messages %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </footer>
    </div>
</body>
</html>